/*header*/

* {
    color: white;
}

body {
    background-color: #272727;
}

header {
    position: center;
    margin: auto;
    height: 250px;
    width: 1300px;
    background-image: url("../imagenes/banner.png");
    background-size: 1300px 250px;
}

.portada {
    float: top;
    color: white;
}

nav {
    margin: auto;
    width: 1000px;
    height: 48px;
}

.opcion {
    width: 110px;
    margin: 0px 2px;
    height: 35px;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
}

.opcion a {
    color: white;
}

.titulo {
    position: left;
    float: left;
    background-color: none;
}


/*cuerpo*/

.cuerpo {
    position: center;
    width: 1300px;
    margin: auto;
    height: 1600px;
    color: white;
}

.cuerpo img {
    position: absolute;
    height: 200px;
    width: 350px;
}

.momento #iz1 {
    margin: 0px;
}

.momento #cn1 {
    margin: 0px 475px 0px 475px;
}

.momento #dr1 {
    margin: 0px 0px 0px 950px;
}

.momento #iz2 {
    margin: 300px 0px;
}

.momento #cn2 {
    margin: 300px 475px 0px 475px;
}

.momento #dr2 {
    margin: 300px 0px 0px 950px;
}

.momento #iz3 {
    margin: 600px 0px;
}

.momento #cn3 {
    margin: 600px 475px 0px 475px;
}

.momento #dr3 {
    margin: 600px 0px 0px 950px;
}

.top #iz4 {
    margin: 950px 0px;
}

.top #cn4 {
    margin: 950px 475px 0px 475px;
}

.top #dr4 {
    margin: 950px 0px 0px 950px;
}

.top #cn5 {
    margin: 1250px 475px 0px 475px;
}

.subtop {
    position: absolute;
    margin: 900px 0px;
}

.top a {
    position: absolute;
    color: white;
    list-style: none;
}

.top1 {
    margin: 1150px 0px;
}

.top2 {
    margin: 1150px 475px 0px 475px;
}

.top3 {
    margin: 1150px 0px 0px 950px;
}

.top4 {
    margin: 1450px 475px 0px 475px;
}


/* estas son la redes */

* {
    margin: 0;
    padding: 0;
}


/* Comentarios*/

.comentarios {
    width: 700px;
    height: auto;
    margin: 10px 0px 0px 500px;
    background-color: black;
}


/* divs*/

.red-general {
    width: auto;
    height: auto;
    background-color: black;
}

.subred-general {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: black;
}

.red {
    width: 300px;
    height: auto;
    border-radius: 48px;
    margin: 20px 120px 0px 190px;
}

.red-final {
    width: 125px;
    height: auto;
}


/*logo redes - red*/

.expressimg {
    width: 200px;
    height: 101px;
    margin: 10px 0px 0px 150px;
}


/*lineas link - red*/

li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

ul li a:hover {
    color: #ffa700;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.red ul li {
    margin: 15px 0px 0px 0px;
}


/*img redes - red*/

.face {
    background-color: rgba(24, 119, 242, .2);
    border-radius: 100%;
    padding: 12px;
    fill: #1877f2;
}

.insta {
    background-color: rgba(189, 138, 119, .2);
    border-radius: 100%;
    padding: 12px;
    fill: #bd8a77;
}

.twitter {
    background-color: rgb(0 185 255 / 20%);
    border-radius: 100%;
    padding: 12px;
    fill: #00aced;
}

.red-final a {
    text-decoration: none;
    color: white;
}

.red-final a:hover {
    color: #ffa700;
}

.redes001 {
    float: right;
    margin: 15px 0px 0px 0px;
}

.redes002 {
    float: right;
    margin: 15px 18px 0px 0px;
}